In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('general_data.csv')

In [3]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
A_yes = data[data['Attrition']=='Yes']

In [5]:
A_no = data[data['Attrition']=='No']

In [6]:
from scipy.stats import mannwhitneyu

**H0: There is no significant difference in the mean age of Employees who have leaved the company and stayed in company** <br/>
**H1: There is significant difference in the mean age of Employees who have leaved the company and stayed in company**

In [7]:
from scipy.stats import ttest_ind

In [8]:
ttest_ind(A_yes.Age, A_no.Age)

Ttest_indResult(statistic=-10.70661860061757, pvalue=1.9968016158894556e-26)

As pvalue is less 0.05 we have to reject null hypothesis and accept alternative hypothesis that there is significant difference in the mean age of Employees who have leaved the company and stayed in the company

**H0: There is no significant difference between the Distance from Home w.r.t Attrition** <br />
**H1: There is significant difference between the Distance from Home w.r.t Attrition**

In [9]:
from scipy.stats import mannwhitneyu

In [10]:
mannwhitneyu(A_yes.DistanceFromHome, A_no.DistanceFromHome)

MannwhitneyuResult(statistic=1312110.0, pvalue=0.4629185205822659)

As pvalue is greater than 0.05 here we have to accept our null hypothesis. So, there is no significant difference between the Distance from Home of Employees with respect to Attrition.

**H0: There is no significant difference between the Monthly Income w.r.t Attrition** <br />
**H1: There is significant difference between the Monthly Income w.r.t Attrition**

In [11]:
mannwhitneyu(A_yes.MonthlyIncome, A_no.MonthlyIncome)

MannwhitneyuResult(statistic=1264900.5, pvalue=0.053577283839938566)

As pvalue is greater than 0.05 we have to accept the null hypothesis so, there is no significant difference between the Monthly income w.r.t Attrition.

**H0: There is no significant difference between the PercentSalaryHike w.r.t Attrition** <br />
**H1: There is significant difference between the PercentSalaryHike w.r.t Attrition**

In [12]:
mannwhitneyu(A_yes.PercentSalaryHike, A_no.PercentSalaryHike)

MannwhitneyuResult(statistic=1250640.0, pvalue=0.018660129917539733)

As pvalue is less than 0.05 we have to reject null hypothesis. So, there is significant difference in the PercentSalaryHike with respect to Attrition.

**H0: There is no significant difference between the Total Working Years w.r.t Attrition** <br />
**H1: There is significant difference between the Total Working Year w.r.t Attrition**

In [13]:
mannwhitneyu(A_yes.TotalWorkingYears, A_no.TotalWorkingYears)

MannwhitneyuResult(statistic=909954.0, pvalue=2.8897554531400447e-39)

As pvalue is less than 0.05 we have to reject null hypothesis. So, there is significant difference in the Total Working Years with respect to Attrition

**H0: There is no significant difference between the TrainingTimeLastYear w.r.t Attrition** <br />
**H1: There is significant difference between the TrainingTimeLastYear w.r.t Attrition**

In [14]:
mannwhitneyu(A_yes.TrainingTimesLastYear, A_no.TrainingTimesLastYear)

MannwhitneyuResult(statistic=1238940.0, pvalue=0.005167954938699059)

As pvalue is less than 0.05 we have to reject null hypothesis. So, there is significant difference in the TrainingTimeLastYear with respect to Attrition

**H0: There is no significant difference between the YearsAtCompany w.r.t Attrition** <br />
**H1: There is significant difference between the YearsAtCompan w.r.t Attrition**

In [15]:
mannwhitneyu(A_yes.YearsAtCompany, A_no.YearsAtCompany)

MannwhitneyuResult(statistic=923238.0, pvalue=6.047598261692858e-37)

As pvalue is less than 0.05 we have to reject null hypothesis. So, there is significant difference in the YearAtCompany with respect to Attrition

**H0: There is no significant difference between the YearSinceLastPromotion w.r.t Attrition** <br />
**H1: There is significant difference between the YearSinceLastPromotion w.r.t Attrition**

In [16]:
mannwhitneyu(A_yes.YearsSinceLastPromotion, A_no.YearsSinceLastPromotion)

MannwhitneyuResult(statistic=1209366.0, pvalue=0.0002021180346719736)

As pvalue is less than 0.05 we have to reject null hypothesis. So, there is significant difference in the YearsSinceLastPromotion with respect to Attrition

**H0: There is no significant difference between the YearsWithCurrManager w.r.t Attrition** <br />
**H1: There is significant difference between the YearsWithCurrManager w.r.t Attrition**

In [17]:
mannwhitneyu(A_yes.YearsWithCurrManager, A_no.YearsWithCurrManager)

MannwhitneyuResult(statistic=957253.5, pvalue=1.2365483142169853e-31)

As pvalue is less than 0.05 we have to reject null hypothesis. So, there is significant difference in the YearsWithCurrentManager with respect to Attrition